@()
@layouts.html.default("You will be Exterminated!", "WELCOME TO SKARO HOME OF THE DAAAALEKS PREPARE TO BE EXTERMINATED!!!"){
<br/></br/>
<center>Greetings Huuuuuuman!</center>
<table width="100%">
 <tr>
   <td></td>
   <td><a href="/driveForward"><img height="100px" src="images/up_arrow.png"/></a></td>
   <td></td>
 </tr>
 <tr>
  <td><a href="/driveLeft"><img width="100px" src="images/left_arrow.png"/></a></td>
  <td><a href="/stop"><img width="100px" src="images/exterminate.jpg"></a></td>
  <td><a href="/driveRight"><img width="100px" src="images/right_arrow.png"/></a></td>
 </tr>
 <tr>
  <td></td>
  <td><a href="/driveBack"><img height="100px" src="images/down_arrow.png"/></a></td>
  <td></td>
 </tr>
</table>
}
